@charset "utf-8";

/* default */
* {margin:0;padding:0;}
html {height:100%;font-size:62.5%;}
body {height:100%;color:#333;font:1.4rem/1.5 HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif;-webkit-text-size-adjust:none;word-break:keep-all;}
a {color:inherit;text-decoration:none;}
li {list-style:none;}
table {width:100%;border-collapse:collapse;border:0;table-layout:fixed;}
colgroup {background:none;}
input, select, textarea, button {font: 1.4rem/1.5 HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif;font-size:inherit;}
fieldset, img {border:0;}
img {vertical-align:top;}
label, td img {vertical-align:middle;}
legend, caption, .hidden {position:absolute;z-index:-1;font:0/0 a;}
address, em {font-style:normal;}
button {overflow:visible;cursor:pointer;background:none;border:0;border-radius:0;}
button::-moz-focus-inner {padding:0;border:0;}

.inputTxt, select, textarea {
	height: 3.6rem;
	padding: 0 1rem;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 0;
	color: #666;
	box-sizing: border-box;
	-webkit-appearance: none;
}
select {
	background:#fff url('/resource/www/resource/images/bg_select.gif') no-repeat 100% 50%;
}
textarea {
	padding: 1rem;
	box-sizing: border-box;
	resize: none;
}
.swiper-container-horizontal {overflow: hidden;}
.swiper-wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.swiper-slide {flex-shrink:0;}
.mdSlide .swiper-wrapper {flex-wrap: wrap;}