@charset "utf-8";

.navMenu {padding: 0 1rem;}
.navMenu ul:after {content:"";display:block;clear:both;}
.navMenu li {
	float: left;
	width: 20%;
	text-align: center;
}
.navMenu a {
	display: block;
	margin: 0 1rem;
	font-weight: bold;
}
.navMenu a:before {
	content: "";
	display: block;
	height: 4rem;
	margin: 1rem 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.navMenu .navNews a:before {background-image: url('/resource/images/icon_nav_news.png');}
.navMenu .navGame a:before {background-image: url('/resource/images/icon_nav_game.png');}
.navMenu .navShoping a:before {background-image: url('/resource/images/icon_nav_shoping.png');}
.navMenu .navMap a:before {background-image: url('/resource/images/icon_nav_map.png');}
.navMenu .navSearch a:before {background-image: url('/resource/images/icon_nav_search.png');}

.dataChart {
	padding: 1rem 0;
	font-size: 0;
	text-align: center;
}
.main .dataChart {margin-top: 2rem;}
.dataChart li {
	position: relative;
	display: inline-block;
	padding: 0 .5rem 0 3.5rem;
	font-size: 1rem;
	text-align: left;
}
.dataChart .chart {
	position: absolute;
	top: 0; left: 0;
	width: 3rem;
}
.dataChart .chart img {width: 100%;}

.weatherWrap {
	position: relative;
	box-sizing: border-box;
	height: 6.9rem;
	padding: .7rem 0 0 8rem;
	border-top: .7rem solid #F3F3F3;
	border-bottom: .7rem solid #F3F3F3;
	font-size: 1.1rem;
}
.weatherWrap .state {
	position: absolute;
	top: 0; bottom: 0; left: 2.5rem;
}
.weatherWrap .state img {
	width: 4.5rem;
	vertical-align: middle;
}
.weatherWrap .state:after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.weatherWrap .area {
	display: block;
	font-size: 1.6rem;
}
.weatherWrap .temp {
	position: absolute;
	top: .8rem; right: 3rem;
	font-size: 2.5rem;
	font-weight: bold;
}

.realTimeKeyword {
	position: relative;
	padding: .9rem 4.5rem .9rem 9.5rem;
}
.realTimeKeyword .title {
	position: absolute;
	top: .75rem; left: 1.5rem;
	padding: .2rem .5rem;
	background: #DC0025;
	color: #fff;
	font-size: 1.1rem;
}
.realTimeKeyword .list {
	overflow: hidden;
	height: 1.8rem;
	font-size: 1.25rem;
	font-weight: bold;
}
.realTimeKeyword .list li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}
.realTimeKeyword .list .num {
	display: inline-block;
	margin: 0 .5rem 0 0;
	color: #DC0025;
	font-style: italic;
}
.realTimeKeyword .btn {
	position: absolute;
	top: 0; right: 0;
	width: 3rem;
	height: 100%;
	background: url('/resource/images/icon_arrow.png') no-repeat 0 50%;
	background-size: .9rem;
	font-size: 0;
}

.banner {
	border-top: .7rem solid #F3F3F3;
	border-bottom: .7rem solid #F3F3F3;
}
.banner img {width: 100%;}

.topSlide {
	position: relative;
	margin: 1rem;
}
.topSlide .slidePage {
	position: absolute;
	bottom: 1rem; right: 0; left: 0;
	text-align: center;
	font-size: 0;
}
.topSlide .slidePage a {
	display: inline-block;
	width: 1rem; height: 1rem;
	margin: 0 .2rem;
	background: #e0e3dc;
	border-radius: 50%;
}
.topSlide .slidePage [class*="active"] {background: #13c39d;}
.topSlide .slideNav {
	position: absolute;
	top: 50%; right: 0; left: 0;
	margin: -1rem 0 0;
}
.topSlide .slideNav button {
	position: absolute;
	font-size: 0;
	width: 2rem; height: 2rem;
}
.topSlide .slideNav button:after {
	content: "";
	display: block;
	height: 100%;
	border-top: .2rem solid #fff;
	border-right: .2rem solid #fff;
}
.topSlide .slideNav .slidePrev {left: 1.2rem;}
.topSlide .slideNav .slidePrev:after {transform: rotate(-135deg);}
.topSlide .slideNav .slideNext {right: 1.2rem;}
.topSlide .slideNav .slideNext:after {transform: rotate(45deg);}

.mdSlide {margin: 1rem;}
.mdSlide .swiper-slide a {
	display: block;
	margin: 0 .2rem 1.5rem;
}
.mdSlide .swiper-slide span {
	margin: .5rem 0 0;
	display: -webkit-box;
	height: 4rem;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
}
.mdSlide .slideNav {text-align: center;}
.mdSlide .slideNav .swiper-pagination {margin: 0 1rem;}
.mdSlide .slideNav .swiper-pagination-current {color: #13c39d;}
.mdSlide .slideNav button {
	font-size: 0;
	width: 2.8rem; height: 2.8rem;
	border: 1px solid #ddd;
	vertical-align: middle;
}
.mdSlide .slideNav button:after {
	content: "";
	display: block;
	width: 35%; height: 35%;
	border-top: .2rem solid #ddd;
	border-right: .2rem solid #ddd;
}
.mdSlide .slideNav .slidePrev:after {margin-left: 1rem;transform: rotate(-135deg);}
.mdSlide .slideNav .slideNext:after {margin-left: .5rem;transform: rotate(45deg);}

.adWrap {text-align: center;}
.adWrap img {
	max-width: 100%;
}
.listType1 li {border-top: .1rem solid #ddd;}
.listType1 li:first-child {border: 0;}
.listType1 a {
	position: relative;
	display: block;
	min-height: 8rem;
	padding: 0 0 0 11.5rem;
}
.listType1 .img {
	position: absolute;
	top: .6rem; left: 0;
	height: 6.8rem;
}
.listType1 .img img {height: 100%;}
.listType1 .name {
	display: block;
	padding: 2rem 0 0;
}
.listType1 .name .state {
	display: inline-block;
	vertical-align: .1rem;
	padding: 0 .2rem;
	background: #ae6ad7;
	color: #fff;
	font-size: 1.2rem;
}
.listType1 .opt {
	font-size: 0;
	color: #888;
}
.listType1 .opt span {
	display: inline-block;
	line-height: 1;
	font-size: 1.1rem;
}
.listType1 .opt span ~ span {
	margin-left: .5rem;
	padding-left: .5rem;
	border-left: .1rem solid #ddd;
}
.listType2 {margin: 1rem 0 0;}
.listType2 li {border-top: .1rem solid #ddd;}
.listType2 li a {
	position: relative;
	display: block;
	box-sizing: border-box;
	padding: .7rem 12rem 0 0;
	min-height: 6.2rem;
	font-size: 1.2rem;
}
.listType2 .img {
	position: absolute;
	top: .5rem; right: 0;
	height: 5.2rem;
}
.listType2 .img img {height: 100%;}
.listType2 .tit {
	display: -webkit-box;
	line-height: 1.2;
	font-weight: bold;
	height: 3rem;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.listType2 .txt {
	display: block;
	margin: .2rem 0 0;
	font-size: 1rem;
	color: #888;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.listType3 li {border-top: .1rem solid #ddd;}
.listType3 li:first-child {border: 0;}
.listType3 a {
	position: relative;
	display: block;
	min-height: 8.8rem;
	padding: 0 1rem 0 11rem;
}
.listType3 .img {
	position: absolute;
	top: 1rem; left: 1rem;
	height: 6.8rem;
}
.listType3 .img img {height: 100%;}
.listType3 .tit {
	display: block;
	padding: 1rem 0 0;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.listType3 .txt {
	display: -webkit-box;
	margin: .5rem 0;
	line-height: 1.2;
	font-size: 1.2rem;
	height: 2.8rem;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.listType3 .opt {
	display: block;
	font-size: 0;
	color: #888;
	text-align: right;
}
.listType3 .opt span {
	display: inline-block;
	line-height: 1;
	font-size: 1rem;
}
.listType3 .opt span {
	margin-right: .5rem;
	padding-right: .5rem;
	border-right: .1rem solid #ddd;
}
.listType3 .opt span:last-child {margin:0;padding:0;border:0;}
.listType3 .opt .reply {float: left;margin:0;padding:0;border:0;}
.listType3 .opt .date {color: #edb294;}

.listType4 li {border-top: .1rem solid #ddd;}
.listType4 li:first-child {border: 0;}
.listType4 a {
	display: block;
	padding: 1rem 0;
	text-align: center;
}
.listType4 .img {
	display: block;
	margin: 0 0 1rem;
	padding: 0 .5rem;
}
.listType4 .img img {max-width: 100%;}
.listType4 .txt {
	display: inline-block;
	max-width: 100%;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}